<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./semantic/semantic.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="./semantic/semantic.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="./chat.css">
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a id="ToHomeBtn" class="header item">
        <i class="teal big comments icon"></i>
        CHATCOOL
      </a>
      <a id="disconnectBtn" class="item">Quit</a>
    </div>
  </div>
  <div class="ui main text container">
    <div id="message-container">
    </div>
    <div class="ui field">
      <label id="myName" class="namelabel"></label>
      <div class="ui fluid action input">
        <input id="message-input" type="text" placeholder="대화를 입력하세요">
        <button id="send-message" class="ui icon button">
            <i class="paper plane icon"></i>&nbsp;&nbsp;전송&nbsp;
        </button>
      </div>
    </div>
  </div>
</body>
<script src="chat.js"></script>
</html>