<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./semantic/semantic.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="./semantic/semantic.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a id="ToHomeBtn" class="header item">
        <i class="teal big comments icon"></i>
        CHATCOOL
      </a>
      <a id="ToJoinBtn" class="item">Join in as a Client</a>
      <a id="ToCreateBtn" class="item">Create Server</a>
    </div>
  </div>
  
  <div id="tab1" class="ui main text container">
    <h1 class="ui header">tab1</h1>
    <p>This is a basic fixed menu template using fixed size containers.</p>
  </div>
  <div id="tab2" class="ui main text container hide">
    <h1 class="ui header">μ±„ν…μ— μ°Έμ—¬ν•μ„Έμ”</h1>
    <p>Socket.ioλ΅ λ§λ“¤μ–΄μ΅μµλ‹λ‹¤.</p>
    <div class="ui form">
      <div class="fields">
        <div class="field">
          <label>μ ‘μ† IPμ£Όμ†</label>
          <input class="disableipAddress" type="text">
        </div>
        <div class="required field">
          <label>μ ‘μ† ν¬νΈ</label>
          <input id="joinroomport" type="text" placeholder="9999">
        </div>
        <div class="required field">
          <label>μ‚¬μ©ν•  λ‹‰λ„¤μ„</label>
          <input id="join-nickname" type="text" placeholder="">
        </div>
      </div>
      <button onclick="joinRoom()" class="ui teal button">
        μ ‘μ†
      </button>
    </div>
  </div>
  <div id="tab3" class="ui main text container hide">
    <h1 class="ui header">μ±„ν… μ„λ²„λ¥Ό μƒμ„±ν•μ„Έμ”</h1>
    <p>ν΄λΌμ΄μ–ΈνΈλ“¤μ΄ κ³ μ μ ν¬νΈλ²νΈλ¥Ό ν†µν•΄ λ‹Ήμ‹ μ λ°©μ— μ ‘μ†ν•  μ μμµλ‹λ‹¤</p>
    <div id="createform" class="ui form">
      <div class="fields">
        <div class="field">
          <label>IPμ£Όμ†</label>
          <input class="disableipAddress" type="text">
        </div>
        <div class="required field">
          <label>μƒμ„±ν•  λ°©μ ν¬νΈλ²νΈ(4μλ¦¬)</label>
          <input id="createroomport" name="port" placeholder="9999">
        </div>
        <div class="required field">
          <label>μ‚¬μ©ν•  λ‹‰λ„¤μ„</label>
          <input id="host-nickname" type="text" placeholder="">
        </div>
      </div>
      <button class="ui button" onclick="enterRoom()">μƒμ„±</button>
    </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        2021. chatcoolπ’™ <a class="item" href="#">Github</a>
      </div>
    </div>
  </div>
</body>
<script src="index.js"></script>
</html>