body {
  background-color: #FFFFFF;
  height: 85%;
}
.ui.menu .item i.icon {
  margin-right: 0.5em;
}
.main.container {
  margin-top: 7em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 2em 0em;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#message-container{
  margin-bottom: 2em;
  height: 30em;
  /* background-color: antiquewhite; */
  overflow-y: visible;
}

.message{
  margin-bottom: 0.6em;
}

.message.others{

}

.message.mine{
  display: block;
  float: right;
}

#input-container{
  margin-bottom: 2em;
}